.footer {
    display: block;
    background: $black;
    padding: 22px 25px;

    &_title {
        font-family: Shrikhand,cursive;
        font-size: 20px;
        font-weight: 400;
        color: $white;
        margin-bottom: 16px;

        @media (min-width: 1025px) {
            padding: 25px;
        }
    }

    &_link {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 7px;
        padding-left: 0;

        @media (min-width: 1025px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 25px;

        }
    }


    li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 11px;

        i {
            color: $white;
        }

        span,
        p,
        a {
            color: $white;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }

        address {
            font-style: normal;
        }
        @media (min-width: 1025px) {
            display: flex;
            flex-direction: row-reverse;
            height: 114px;
            gap: 16px;
            padding: 30px 25px;
            width: 100%;
        }
    }

}