$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-Tertiaire: #99E2D0;
$color-green: #008766;
/*background*/
$white: #FFF;
$Grey-2: #EAEAEA;
$grey-light: #F6F6F6;
$black: #353535;
$green: #99E2D0;